# Python venv
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment variables
.env
*.env

# Logs
*.log

# Numpy binary dumps (غير ضرورية)
*.npy
*.npz
*.ndarray
